h1{
    color: black;
}
p {
    color: black;
}
.container {
    background-color: lightblue;
    width: 1000px;
    margin: 0px auto;
    height: 400px;
    
}
.main-body {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 50px
}
body {
    background-color: lightgrey;
}