<html>
    <head>  
        <title>TripSys</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>  
        <div class='container'>
            <div class='main-body'>
                <h1>Welcome, Valued User.</h1>
                <p>This is TripSys, your favorite security system. This system sounds alarms, flashes messages on a LCD display, 
                and even flashes different colors on an LED</p>
                <button type="button">
                Start Program
                </button>
            </div>
        </div>
    </body>
</html>