<html>
    <head>  
        <title>TripSys</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>  
        <div class='container'>
            <div class='main-body'>
                <h1>Welcome, Valued User.</h1>
                <p>This is TripSys, your favorite security system. This system sounds alarms, flashes messages on a LCD display, 
                and even flashes different colors on an LED.</p>

                <button type="button">
                Start Program
                </button>
                <br>
                <button type="button">
                End Program
                </button>
                <form>
                    <label for="aemail">Enter Email to Recieve Notififcations:</label><br>
                    <input type="text" id="aemail" name ='aemail'><br>
                    <label for="remail">Enter Email to Remove Notififcations:</label><br>
                    <input type="text" id="remail" name ='remail'><br>
                </form>

                <br>
                <p>Thank you for using our product.</p>
            </div>
        </div>
    </body>
</html>